/* Minimalism Theme Stylesheet */
.theme-minimalism.mode-light, .mode-light .theme-minimalism {
  --bg-app: #ffffff;
  --bg-header: #ffffff;
  --bg-card: #fafafa;
  --text: #111111;
  --text-muted: #777777;
  --border: #eeeeee;
  --accent: #000000;
  --box-shadow: none;
  font-family: 'Inter', sans-serif;
}

.theme-minimalism.mode-dark, .mode-dark .theme-minimalism {
  --bg-app: #050505;
  --bg-header: #050505;
  --bg-card: #0d0d0d;
  --text: #eeeeee;
  --text-muted: #777777;
  --border: #1a1a1a;
  --accent: #ffffff;
  --box-shadow: none;
  font-family: 'Inter', sans-serif;
}
