/* Theme: Maximalism | Mode: Dark */
.theme-maximalism.mode-dark,
body.theme-maximalism.mode-dark {
  --bg-app: repeating-linear-gradient(45deg, #00ff44 0px, #00ff44 24px, #090514 24px, #090514 48px);
  --bg-header: #130924;
  --bg-card: #1c0d36;
  --bg-white: #1c0d36;
  --text: #ffffff;
  --text-muted: #d8b4fe;
  --border: #00ff44;
  --accent: #e879f9;
  --accent-hover: #f0abfc;
  --box-shadow: 6px 6px 0px #d946ef;
  --card-radius: 4px;
  --font-family: 'Syne', 'Impact', sans-serif;
}
